.ulcl {
  list-style: none;
  margin: 0;
  padding-left: 0;
  background:#2d2d2d;
  height: 60px;
}

.home{
  float: left;
  padding-left: 80px;
  padding-right: 50px;
}

.acl {
  text-decoration: none;
  background:#2d2d2d;
  color:#FFFFFF ;
  padding:0px 50px;
  font-size: 32px;
  font-family: Arial Style;
  line-height:60px;
  display: block;
  border-right: 1px solid #FFFFFF ;
  transition: all 0.3s ease;
}

.acl:hover {
  background:#ffffff;
  color: #fff;
}

.licl {
  float:left;
  position:relative;
}

.licl > .ulcl {
        position:relative;
        display:none;
}

.licl:hover > .ulcl {
        display:block;
        width: 100%;
}
.licl:hover > .ulcl > .licl {
        float:none;
}


h1 {
  text-align: center;
}
p {
  	text-align: center;
}

.home a {
	position: fixed;
}



.container {
	width: 450px;
	height: 630px;
	background-color: rgb(255, 165, 155, 0.8);
	margin: 150px auto 0 auto;
	text-align: center;
	border-radius: 10%;
}
.container img {
	width: 120px;
	height: 120px;
	margin: -60px 0 30px 0;
	border: 5px solid #FF8C00;
	border-radius: 50%;
}
.container a {
	color:#fff;
	font-size: 15px;
}
body {
	background-image:url(images/fon1.jpg);
	background-size: 100%;
}
input[type="text"], input[type="password"] {
	width: 300px;
	height: 50px;
	font-size=: 18px;
	margin-bottom: 25px;
	border: 5px solid #FFD700;
	border-radius: 10px;
	padding-left: 10px;
}
input[type="submit"] {
	padding: 13px 30px;
	margin: 5px 0 20px 0;
	font-size: 15px;
	color: #fff;
	background-color: #FFD700;
	border: 5px solid #FFFF00;
	border-radius: 10px;
}

.input a {
	padding: 5px 15px;
	margin: 5px 0 20px 0;
	font-size: 13px;
	color: #fff;
	background-color: #FFD700;
	border: 3px solid #FFFF00;
	border-radius: 10px;
}
